In [22]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
np.random.seed(42)

In [23]:
df = pd.read_html('https://www.nestpick.com/millennial-city-ranking-2018/', skiprows=0)[0]
df.columns = ['#','City', 'Country','Employment Score', 'Startup Score', 'Tourism Score','Housing Score', 'Food Ranking', 'Transport Score', 'Health Rank', 'Internet Speed Score', 'University Score', 'Access to Contraceptive Score', 'Gender Equality Score', 'Immigration Tolerence', 'Personal Freedom and Choice', 'LGBT friendly Score', 'Nightlife Score', 'Beer Ranking', 'Festival Ranking', 'Total']
# df.set_index('city',inplace=True)
df.drop('#',axis=1, inplace=True)
# df.index.name= None
df.head()

Empty DataFrame
Columns: [(Rank, Rank), (Location, City), (Location, Country), (Business Ecosystem, Unnamed: 3_level_1), (Business Ecosystem, Unnamed: 4_level_1), (Business Ecosystem, Unnamed: 5_level_1), (The Essentials, Unnamed: 6_level_1), (The Essentials, Unnamed: 7_level_1), (The Essentials, Unnamed: 8_level_1), (The Essentials, Unnamed: 9_level_1), (The Essentials, Unnamed: 10_level_1), (The Essentials, Unnamed: 11_level_1), (The Essentials, Unnamed: 12_level_1), (Openness, Unnamed: 13_level_1), (Openness, Unnamed: 14_level_1), (Openness, Unnamed: 15_level_1), (Openness, Unnamed: 16_level_1), (Recreation, Unnamed: 17_level_1), (Recreation, Unnamed: 18_level_1), (Recreation, Unnamed: 19_level_1), (Total, Total)]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [City, Country, Employment Score, Startup Score, Tourism Score, Housing Score, Food Ranking, Transport Score, Health Rank, Internet Speed Score, University Score, Access to Contraceptive Score, Gender Equality Score, Immigration Tolerence, Personal Freedom and Choice, LGBT friendly Score, Nightlife Score, Beer Ranking, Festival Ranking, Total]
Index: []

In [24]:
df.to_csv('city_ranking.csv', index=False)

In [25]:
data = df.set_index('City'). iloc[:,1:-1]
data.head()

Empty DataFrame
Columns: [Employment Score, Startup Score, Tourism Score, Housing Score, Food Ranking, Transport Score, Health Rank, Internet Speed Score, University Score, Access to Contraceptive Score, Gender Equality Score, Immigration Tolerence, Personal Freedom and Choice, LGBT friendly Score, Nightlife Score, Beer Ranking, Festival Ranking]
Index: []

In [26]:
scores = df.set_index('City'). iloc[:,1:-1].round().astype(int)
scores.head()

Empty DataFrame
Columns: [Employment Score, Startup Score, Tourism Score, Housing Score, Food Ranking, Transport Score, Health Rank, Internet Speed Score, University Score, Access to Contraceptive Score, Gender Equality Score, Immigration Tolerence, Personal Freedom and Choice, LGBT friendly Score, Nightlife Score, Beer Ranking, Festival Ranking]
Index: []

In [27]:
cos = pd.DataFrame(cosine_similarity(scores), columns=scores.index, index = scores.index)
cos

ValueError: Found array with 0 sample(s) (shape=(0, 17)) while a minimum of 1 is required by check_pairwise_arrays.

In [ ]:
scores.index

Index(['Berlin', 'Montréal', 'London', 'Amsterdam', 'Toronto', 'Vancouver',
       'Barcelona', 'New York City', 'Cologne', 'Manchester',
       ...
       'Milan', 'Venice', 'Bergen', 'Cape Town', 'Innsbruck', 'Bern',
       'Jerusalem', 'Brugge', 'Geneva', 'Bologna'],
      dtype='object', name='city', length=110)

In [ ]:
user1 = np.random.choice(range(1,11),17).reshape(-1,17)
user1

array([[ 7,  4,  8,  5,  7, 10,  3,  7,  8,  5,  4,  8,  8,  3,  6,  5,
         2]])

In [ ]:
value = []
for index,city in enumerate(scores.index):
    city_old = scores.loc[city].values.reshape(-1,17)
    score = cosine_similarity(city_old, user1)
    value.append(score)

In [ ]:
similarity = pd.Series(value, index=scores.index)

In [ ]:
similarity.sort_values(ascending=False).astype(float).idxmax()

'Manchester'

In [ ]:
def find_similarity(column, user, number):
    new_df = scores[column]
    value = []
    for index,city in enumerate(new_df.index):
        city_old = new_df.loc[city].values.reshape(-1,number)
        user = user.reshape(-1, number)
        score = cosine_similarity(city_old, user)
        value.append(score)
    similarity = pd.Series(value, index=scores.index)
    city_similar = similarity.sort_values(ascending=False).astype(float).idxmax()
    message = f'Based on your preference, {city_similar} is the best recommendation'
    return message

In [ ]:
column = ['Tourism Score','Housing Score', 'Food Ranking']
number = len(column)
user = np.random.choice(range(1,10), number)
print(find_similarity(column, user, number))

Based on your preference, Toulouse is the best recommendation

In [ ]:
word = 'Bologna'
if word in scores.index:
    country = df.loc[df['city'] == word, 'country'].iloc[0]
    print(f'{word} is the capital of {country}')
    if word in df['city'].head().values:
        print('It is actually one of the top 5 cities that has pique millennial interests')
    elif word in df['city'].head(10).values:
        print('It is actually one of the top 10 cities that has pique millennial interests')
    elif word in df['city'].tail(5).values:
        print('It is actually one of the least 5 cities that has pique millennial interests')
    
else:
    print(f'Which country is {word} located in ?')

Bologna is the capital of Italy
It is actually one of the least 5 cities that has pique millennial interests

In [ ]:
if word in scores.index:
    title = f'About {word}'
    subtitle = 'City Ranking in terms of Business, essentials, Openness and recreation score(over 10.0)'
    print(title)
#     print('\n')
    print(subtitle)
#     print('\n')
    for i , j in zip(list(data.loc['Berlin'].index),data.loc['Berlin']):
        print(f'{i} == {j}')

NameError: name 'word' is not defined

In [ ]:
sort_by_country = df[["city", "country"]].sort_values("country")
sort_by_country.head()

            city    country
31  Buenos Aires  Argentina
98         Perth  Australia
93      Canberra  Australia
23        Sydney  Australia
20     Melbourne  Australia

In [ ]:
location = []
for index, city, country in sort_by_country.itertuples():
    new = f'{city}, {country}'
    location.append(new)

In [ ]:
list(scores.index)

['Berlin',
 'Montréal',
 'London',
 'Amsterdam',
 'Toronto',
 'Vancouver',
 'Barcelona',
 'New York City',
 'Cologne',
 'Manchester',
 'Hamburg',
 'Bristol',
 'San Francisco',
 'Austin',
 'Paris',
 'Miami',
 'Munich',
 'Lisbon',
 'Glasgow',
 'Madrid',
 'Melbourne',
 'Ottawa',
 'Birmingham',
 'Sydney',
 'Prague',
 'Vienna',
 'Québec City',
 'Auckland',
 'Los Angeles',
 'São Paulo',
 'Frankfurt',
 'Buenos Aires',
 'Mexico City',
 'Portland',
 'Chicago',
 'Nantes',
 'Budapest',
 'Copenhagen',
 'Santiago de Chile',
 'Bogotá',
 'Valencia',
 'Bangkok',
 'Dublin',
 'Lyon',
 'Philadelphia',
 'Helsinki',
 'Antwerp',
 'Porto',
 'Beijing',
 'Stockholm',
 'Denver',
 'Toulouse',
 'Kuala Lumpur',
 'Medellín',
 'Rio de Janeiro',
 'Graz',
 'Hong Kong',
 'Edinburgh',
 'Guadalajara',
 'Lille',
 'Rotterdam',
 'Taipei',
 'Coventry',
 'Moscow',
 'Seoul',
 'Adelaide',
 'Brussels',
 'Zurich',
 'Boston',
 'Oslo',
 'Monterrey',
 'Seattle',
 'Brisbane',
 'Washington, D.C.',
 'The Hague',
 'Shanghai',
 'Utrecht',
 'Seville',
 'Tel Aviv',
 'Montpellier',
 'Tokyo',
 'Warsaw',
 'Bordeaux',
 'Singapore',
 'Istanbul',
 'Marseille',
 'Wellington',
 'Christchurch',
 'Granada',
 'Gothenburg',
 'Lima',
 'Cork',
 'Groningen',
 'Canberra',
 'Brno',
 'Rome',
 'Osaka',
 'Bucharest',
 'Perth',
 'Athens',
 'Milan',
 'Venice',
 'Bergen',
 'Cape Town',
 'Innsbruck',
 'Bern',
 'Jerusalem',
 'Brugge',
 'Geneva',
 'Bologna']

In [ ]:
if word in scores.index:
    title = f'About {word}'
    subtitle = 'City Ranking in terms of Business, essentials, Openness and recreation score(over 10.0)'
    print(title)
#     print('\n')
    country = df.loc[df['city'] == word, 'country'].iloc[0]
    print(f'{word} is the capital of {country}')
    if word in df['city'].head().values:
        print('It is actually one of the top 5 cities that has pique millennial interests')
    elif word in df['city'].head(10).values:
        print('It is actually one of the top 10 cities that has pique millennial interests')
    elif word in df['city'].tail(5).values:
        print('It is actually one of the least 5 cities that has pique millennial interests')
    print(subtitle)
#     print('\n')
    
    for i , j in zip(list(data.loc['Berlin'].index),data.loc['Berlin']):
        print(f'{i} == {j}')

About Bologna
Bologna is the capital of Italy
It is actually one of the least 5 cities that has pique millennial interests
City Ranking in terms of Business, essentials, Openness and recreation score(over 10.0)
Employment Score == 4.8
Startup Score == 9.0
Tourism Score == 6.2
Housing Score == 5.2
Food Ranking == 7.2
Transport Score == 7.1
Health Rank == 3.9
Internet Speed Score == 5.0
University Score == 4.9
Access to Contraceptive Score == 6.9
Gender Equality Score == 7.5
Immigration Tolerence == 8.4
Personal Freedom and Choice == 7.8
LGBT friendly Score == 9.7
Nightlife Score == 10.0
Beer Ranking == 7.0
Festival Ranking == 8.0

In [ ]:
ranking = list(zip(list(data.loc[word].index),data.loc[word]))
breakdown = pd.DataFrame(ranking, columns = ['Category','Score'])

In [ ]:
breakdown

                         Category  Score
0                Employment Score    5.8
1                   Startup Score    1.4
2                   Tourism Score    3.2
3                   Housing Score    5.1
4                    Food Ranking    1.7
5                 Transport Score    1.1
6                     Health Rank    9.1
7            Internet Speed Score    4.6
8                University Score    1.0
9   Access to Contraceptive Score    3.4
10          Gender Equality Score    3.3
11          Immigration Tolerence    6.2
12    Personal Freedom and Choice    0.8
13            LGBT friendly Score    2.0
14                Nightlife Score    0.9
15                   Beer Ranking    2.3
16               Festival Ranking    2.8

In [ ]:
word = location[1]
if word == 'others':
    great = scores[column]
else: 
    locat = word.split(',')
    great = scores[scores.index !=  locat[0]][column]
    print(locat)
great.head()

['Perth', ' Australia']

           Tourism Score  Housing Score  Food Ranking
city
Berlin                 6              5             7
Montréal               6              6             5
London                10              0             2
Amsterdam              9              1             2
Toronto                4              3             6

In [ ]:
location[0]

In [ ]:
location[0].split(',')

In [ ]:
new_df = scores[column]
new_df.shape

(110, 3)

In [ ]:
great.shape

(109, 3)