In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
np.random.seed(42)

In [2]:
df = pd.read_html('https://www.nestpick.com/millennial-city-ranking-2018/', skiprows=0)[0]
df.columns = ['#','city', 'country','Employment Score', 'Startup Score', 'Tourism Score','Housing Score', 'Food Ranking', 'Transport Score', 'Health Rank', 'Internet Speed Score', 'University Score', 'Access to Contraceptive Score', 'Gender Equality Score', 'Immigration Tolerence', 'Personal Freedom and Choice', 'LGBT friendly Score', 'Nightlife Score', 'Beer Ranking', 'Festival Ranking', 'Total']
# df.set_index('city',inplace=True)
df.drop('#',axis=1, inplace=True)
# df.index.name= None
df.head()

,city,country,Employment Score,Startup Score,Tourism Score,Housing Score,Food Ranking,Transport Score,Health Rank,Internet Speed Score,University Score,Access to Contraceptive Score,Gender Equality Score,Immigration Tolerence,Personal Freedom and Choice,LGBT friendly Score,Nightlife Score,Beer Ranking,Festival Ranking,Total
0,Berlin,Germany,4.8,9.0,6.2,5.2,7.2,7.1,3.9,5.0,4.9,6.9,7.5,8.4,7.8,9.7,10.0,7.0,8.0,7.14
1,Montréal,Canada,6.0,8.1,5.7,6.4,5.1,3.6,7.4,5.1,5.8,8.6,7.0,9.9,8.1,9.6,8.8,5.1,9.0,7.10
2,London,United Kingdom,6.6,9.8,9.8,0.5,2.2,7.2,4.4,4.7,10.0,9.5,7.1,8.7,9.6,9.4,9.4,2.5,7.5,6.71
3,Amsterdam,Netherlands,7.6,8.3,8.7,0.6,1.7,5.7,6.9,4.5,5.0,7.9,5.5,8.5,10.0,9.9,8.6,4.8,9.7,6.63
4,Toronto,Canada,6.3,9.5,4.4,2.7,6.1,4.3,7.4,7.1,5.2,8.6,7.0,9.9,9.4,9.8,4.5,3.6,9.4,6.60

In [3]:
df.to_csv('city_ranking.csv', index=False)

In [4]:
data = df.set_index('city'). iloc[:,1:-1]
data.head()

,Employment Score,Startup Score,Tourism Score,Housing Score,Food Ranking,Transport Score,Health Rank,Internet Speed Score,University Score,Access to Contraceptive Score,Gender Equality Score,Immigration Tolerence,Personal Freedom and Choice,LGBT friendly Score,Nightlife Score,Beer Ranking,Festival Ranking
city,,,,,,,,,,,,,,,,,
Berlin,4.8,9.0,6.2,5.2,7.2,7.1,3.9,5.0,4.9,6.9,7.5,8.4,7.8,9.7,10.0,7.0,8.0
Montréal,6.0,8.1,5.7,6.4,5.1,3.6,7.4,5.1,5.8,8.6,7.0,9.9,8.1,9.6,8.8,5.1,9.0
London,6.6,9.8,9.8,0.5,2.2,7.2,4.4,4.7,10.0,9.5,7.1,8.7,9.6,9.4,9.4,2.5,7.5
Amsterdam,7.6,8.3,8.7,0.6,1.7,5.7,6.9,4.5,5.0,7.9,5.5,8.5,10.0,9.9,8.6,4.8,9.7
Toronto,6.3,9.5,4.4,2.7,6.1,4.3,7.4,7.1,5.2,8.6,7.0,9.9,9.4,9.8,4.5,3.6,9.4

In [5]:
scores = df.set_index('city'). iloc[:,1:-1].round().astype(int)
scores.head()

,Employment Score,Startup Score,Tourism Score,Housing Score,Food Ranking,Transport Score,Health Rank,Internet Speed Score,University Score,Access to Contraceptive Score,Gender Equality Score,Immigration Tolerence,Personal Freedom and Choice,LGBT friendly Score,Nightlife Score,Beer Ranking,Festival Ranking
city,,,,,,,,,,,,,,,,,
Berlin,5,9,6,5,7,7,4,5,5,7,8,8,8,10,10,7,8
Montréal,6,8,6,6,5,4,7,5,6,9,7,10,8,10,9,5,9
London,7,10,10,0,2,7,4,5,10,10,7,9,10,9,9,2,8
Amsterdam,8,8,9,1,2,6,7,4,5,8,6,8,10,10,9,5,10
Toronto,6,10,4,3,6,4,7,7,5,9,7,10,9,10,4,4,9

In [6]:
cos = pd.DataFrame(cosine_similarity(scores), columns=scores.index, index = scores.index)
cos

city,Berlin,Montréal,London,Amsterdam,Toronto,Vancouver,Barcelona,New York City,Cologne,Manchester,...,Milan,Venice,Bergen,Cape Town,Innsbruck,Bern,Jerusalem,Brugge,Geneva,Bologna
city,,,,,,,,,,,,,,,,,,,,,
Berlin,1.000000,0.977137,0.928722,0.950510,0.949095,0.918103,0.958486,0.920974,0.959179,0.949931,...,0.791236,0.719515,0.707497,0.765805,0.779153,0.731924,0.728269,0.760643,0.751670,0.710109
Montréal,0.977137,1.000000,0.939915,0.964724,0.971958,0.951885,0.962462,0.920323,0.941583,0.961343,...,0.804577,0.790815,0.767168,0.751238,0.802558,0.788305,0.788009,0.810239,0.799209,0.794071
London,0.928722,0.939915,1.000000,0.968212,0.925974,0.902572,0.895878,0.977148,0.841949,0.921051,...,0.812965,0.669057,0.709335,0.597920,0.660753,0.762223,0.684090,0.714500,0.785789,0.659137
Amsterdam,0.950510,0.964724,0.968212,1.000000,0.943879,0.927659,0.940543,0.955739,0.887645,0.931762,...,0.821885,0.748883,0.709102,0.627730,0.703653,0.784249,0.743160,0.739985,0.795076,0.735508
Toronto,0.949095,0.971958,0.925974,0.943879,1.000000,0.987980,0.928943,0.905178,0.890129,0.932596,...,0.747889,0.728059,0.802660,0.740337,0.805761,0.793280,0.756557,0.808115,0.834772,0.784293
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Bern,0.731924,0.788305,0.762223,0.784249,0.793280,0.778633,0.743030,0.699569,0.778255,0.839228,...,0.701417,0.696825,0.908926,0.435066,0.837834,1.000000,0.753754,0.893122,0.971770,0.783118
Jerusalem,0.728269,0.788009,0.684090,0.743160,0.756557,0.757316,0.740942,0.652243,0.736576,0.760283,...,0.767539,0.865152,0.714125,0.510404,0.725012,0.753754,1.000000,0.705601,0.718194,0.908752
Brugge,0.760643,0.810239,0.714500,0.739985,0.808115,0.812138,0.745510,0.676430,0.819568,0.877674,...,0.583189,0.697950,0.932566,0.664888,0.928720,0.893122,0.705601,1.000000,0.866220,0.783583
Geneva,0.751670,0.799209,0.785789,0.795076,0.834772,0.818775,0.761428,0.726044,0.760398,0.822565,...,0.719531,0.661161,0.910156,0.489402,0.826061,0.971770,0.718194,0.866220,1.000000,0.766419
Bologna,0.710109,0.794071,0.659137,0.735508,0.784293,0.786165,0.779540,0.652537,0.736271,0.758643,...,0.774786,0.919948,0.781220,0.568939,0.819775,0.783118,0.908752,0.783583,0.766419,1.000000

In [7]:
scores.index

Index(['Berlin', 'Montréal', 'London', 'Amsterdam', 'Toronto', 'Vancouver',
       'Barcelona', 'New York City', 'Cologne', 'Manchester',
       ...
       'Milan', 'Venice', 'Bergen', 'Cape Town', 'Innsbruck', 'Bern',
       'Jerusalem', 'Brugge', 'Geneva', 'Bologna'],
      dtype='object', name='city', length=110)

In [8]:
user1 = np.random.choice(range(1,11),17).reshape(-1,17)
user1

array([[ 7,  4,  8,  5,  7, 10,  3,  7,  8,  5,  4,  8,  8,  3,  6,  5,
         2]])

In [9]:
value = []
for index,city in enumerate(scores.index):
    city_old = scores.loc[city].values.reshape(-1,17)
    score = cosine_similarity(city_old, user1)
    value.append(score)

In [10]:
similarity = pd.Series(value, index=scores.index)

In [11]:
similarity.sort_values(ascending=False).astype(float).idxmax()

'Manchester'

In [12]:
def find_similarity(column, user, number):
    new_df = scores[column]
    value = []
    for index,city in enumerate(new_df.index):
        city_old = new_df.loc[city].values.reshape(-1,number)
        user = user.reshape(-1, number)
        score = cosine_similarity(city_old, user)
        value.append(score)
    similarity = pd.Series(value, index=scores.index)
    city_similar = similarity.sort_values(ascending=False).astype(float).idxmax()
    message = f'Based on your preference, {city_similar} is the best recommendation'
    return message

In [13]:
column = ['Tourism Score','Housing Score', 'Food Ranking']
number = len(column)
user = np.random.choice(range(1,10), number)
print(find_similarity(column, user, number))

Based on your preference, Toulouse is the best recommendation

In [14]:
word = 'Bologna'
if word in scores.index:
    country = df.loc[df['city'] == word, 'country'].iloc[0]
    print(f'{word} is the capital of {country}')
    if word in df['city'].head().values:
        print('It is actually one of the top 5 cities that has pique millennial interests')
    elif word in df['city'].head(10).values:
        print('It is actually one of the top 10 cities that has pique millennial interests')
    elif word in df['city'].tail(5).values:
        print('It is actually one of the least 5 cities that has pique millennial interests')
    
else:
    print(f'Which country is {word} located in ?')

Bologna is the capital of Italy
It is actually one of the least 5 cities that has pique millennial interests

In [15]:
if word in scores.index:
    title = f'About {word}'
    subtitle = 'City Ranking in terms of Business, essentials, Openness and recreation score(over 10.0)'
    print(title)
#     print('\n')
    print(subtitle)
#     print('\n')
    for i , j in zip(list(data.loc['Berlin'].index),data.loc['Berlin']):
        print(f'{i} == {j}')

About Bologna
City Ranking in terms of Business, essentials, Openness and recreation score(over 10.0)
Employment Score == 4.8
Startup Score == 9.0
Tourism Score == 6.2
Housing Score == 5.2
Food Ranking == 7.2
Transport Score == 7.1
Health Rank == 3.9
Internet Speed Score == 5.0
University Score == 4.9
Access to Contraceptive Score == 6.9
Gender Equality Score == 7.5
Immigration Tolerence == 8.4
Personal Freedom and Choice == 7.8
LGBT friendly Score == 9.7
Nightlife Score == 10.0
Beer Ranking == 7.0
Festival Ranking == 8.0

In [16]:
sort_by_country = df[["city", "country"]].sort_values("country")
sort_by_country.head()

            city    country
31  Buenos Aires  Argentina
98         Perth  Australia
93      Canberra  Australia
23        Sydney  Australia
20     Melbourne  Australia

In [17]:
location = []
for index, city, country in sort_by_country.itertuples():
    new = f'{city}, {country}'
    location.append(new)

In [18]:
list(scores.index)

['Berlin',
 'Montréal',
 'London',
 'Amsterdam',
 'Toronto',
 'Vancouver',
 'Barcelona',
 'New York City',
 'Cologne',
 'Manchester',
 'Hamburg',
 'Bristol',
 'San Francisco',
 'Austin',
 'Paris',
 'Miami',
 'Munich',
 'Lisbon',
 'Glasgow',
 'Madrid',
 'Melbourne',
 'Ottawa',
 'Birmingham',
 'Sydney',
 'Prague',
 'Vienna',
 'Québec City',
 'Auckland',
 'Los Angeles',
 'São Paulo',
 'Frankfurt',
 'Buenos Aires',
 'Mexico City',
 'Portland',
 'Chicago',
 'Nantes',
 'Budapest',
 'Copenhagen',
 'Santiago de Chile',
 'Bogotá',
 'Valencia',
 'Bangkok',
 'Dublin',
 'Lyon',
 'Philadelphia',
 'Helsinki',
 'Antwerp',
 'Porto',
 'Beijing',
 'Stockholm',
 'Denver',
 'Toulouse',
 'Kuala Lumpur',
 'Medellín',
 'Rio de Janeiro',
 'Graz',
 'Hong Kong',
 'Edinburgh',
 'Guadalajara',
 'Lille',
 'Rotterdam',
 'Taipei',
 'Coventry',
 'Moscow',
 'Seoul',
 'Adelaide',
 'Brussels',
 'Zurich',
 'Boston',
 'Oslo',
 'Monterrey',
 'Seattle',
 'Brisbane',
 'Washington, D.C.',
 'The Hague',
 'Shanghai',
 'Utrecht',
 'Seville',
 'Tel Aviv',
 'Montpellier',
 'Tokyo',
 'Warsaw',
 'Bordeaux',
 'Singapore',
 'Istanbul',
 'Marseille',
 'Wellington',
 'Christchurch',
 'Granada',
 'Gothenburg',
 'Lima',
 'Cork',
 'Groningen',
 'Canberra',
 'Brno',
 'Rome',
 'Osaka',
 'Bucharest',
 'Perth',
 'Athens',
 'Milan',
 'Venice',
 'Bergen',
 'Cape Town',
 'Innsbruck',
 'Bern',
 'Jerusalem',
 'Brugge',
 'Geneva',
 'Bologna']

In [19]:
if word in scores.index:
    title = f'About {word}'
    subtitle = 'City Ranking in terms of Business, essentials, Openness and recreation score(over 10.0)'
    print(title)
#     print('\n')
    country = df.loc[df['city'] == word, 'country'].iloc[0]
    print(f'{word} is the capital of {country}')
    if word in df['city'].head().values:
        print('It is actually one of the top 5 cities that has pique millennial interests')
    elif word in df['city'].head(10).values:
        print('It is actually one of the top 10 cities that has pique millennial interests')
    elif word in df['city'].tail(5).values:
        print('It is actually one of the least 5 cities that has pique millennial interests')
    print(subtitle)
#     print('\n')
    
    for i , j in zip(list(data.loc['Berlin'].index),data.loc['Berlin']):
        print(f'{i} == {j}')

About Bologna
Bologna is the capital of Italy
It is actually one of the least 5 cities that has pique millennial interests
City Ranking in terms of Business, essentials, Openness and recreation score(over 10.0)
Employment Score == 4.8
Startup Score == 9.0
Tourism Score == 6.2
Housing Score == 5.2
Food Ranking == 7.2
Transport Score == 7.1
Health Rank == 3.9
Internet Speed Score == 5.0
University Score == 4.9
Access to Contraceptive Score == 6.9
Gender Equality Score == 7.5
Immigration Tolerence == 8.4
Personal Freedom and Choice == 7.8
LGBT friendly Score == 9.7
Nightlife Score == 10.0
Beer Ranking == 7.0
Festival Ranking == 8.0

In [20]:
ranking = list(zip(list(data.loc[word].index),data.loc[word]))
breakdown = pd.DataFrame(ranking, columns = ['Category','Score'])

In [21]:
breakdown

                         Category  Score
0                Employment Score    5.8
1                   Startup Score    1.4
2                   Tourism Score    3.2
3                   Housing Score    5.1
4                    Food Ranking    1.7
5                 Transport Score    1.1
6                     Health Rank    9.1
7            Internet Speed Score    4.6
8                University Score    1.0
9   Access to Contraceptive Score    3.4
10          Gender Equality Score    3.3
11          Immigration Tolerence    6.2
12    Personal Freedom and Choice    0.8
13            LGBT friendly Score    2.0
14                Nightlife Score    0.9
15                   Beer Ranking    2.3
16               Festival Ranking    2.8

In [24]:
word = location[1]
if word == 'others':
    great = scores[column]
else: 
    locat = word.split(',')
    great = scores[scores.index !=  locat[0]][column]
    print(locat)
great.head()

['Perth', ' Australia']

           Tourism Score  Housing Score  Food Ranking
city
Berlin                 6              5             7
Montréal               6              6             5
London                10              0             2
Amsterdam              9              1             2
Toronto                4              3             6

In [ ]:
location[0]

In [ ]:
location[0].split(',')

In [26]:
new_df = scores[column]
new_df.shape

(110, 3)

In [25]:
great.shape

(109, 3)